services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/home/node/app:cached
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
    command: npm run dev
    stdin_open: true
    tty: true
